/* CSS HSL */
:root {
  --sky-blue: hsla(199, 64%, 73%, 1);
  --blue-green: rgb(22, 108, 129);
  --prussian-blue: hsla(200, 95%, 14%, 1);
  --selective-yellow: hsla(43, 100%, 51%, 1);
  --ut-orange: hsla(32, 100%, 49%, 1);
  --cool-gray: hsla(218, 17%, 72%);
  --deep-orange: rgb(201, 58, 15);
}

body {
  font-family: roboto, -apple-system, BlinkMacSystemFont, 'Open Sans',
    'Helvetica Neue', sans-serif;
  margin: 0;
  color: var(--selective-yellow);
  background-color: var(--prussian-blue);
}

main,
header {
  margin: 2%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 7px;
}

dialog {
  z-index: 10;
  margin-top: 10px;
  padding: 5%;
  background: var(--blue-green);
  border: none;
  border-radius: 1rem;
}

dialog::backdrop {
  background-color: hsla(0, 0%, 0%, 0.404);
}

.dialogVisible {
  display: flex;
  flex-direction: column;
}

.controls,
.gameboard-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.gameboard-container {
  margin: 2%;
}

.humangameboard,
.aigameboard {
  display: flex;
  border: 1px solid;
}

.column {
  min-width: 30px;
}

.cell {
  background-color: var(--prussian-blue);
  border: 1px solid;
  min-height: 30px;
}

.cell:hover {
  background-color: var(--ut-orange);
}

.ship {
  background-color: var(--blue-green);
}

.hitShip {
  background-color: var(--deep-orange);
}

.hitOcean {
  background-color: var(--ut-orange);
}
